
/* Début CSS avec le corps, l'en-tête et le pied de page. */

body {
    /* couleur par défaut */
    background-color: #dbdbdb;
    font-family: Arial;
    margin:0;
}

/* en-tête */
header {
    background-color: black;
    font-weight: bold;
    display: flex;
    width: 100%;
    height: 6vh;
    vertical-align:middle;
    position: fixed;
    text-decoration: none;
}

/* pied de page */
footer {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    width: 100%;
    height: 6vh;
    margin-top: 10%;
}

/* bannières en-tête et pied de page */
nav {
    height: 100%;
    vertical-align: middle;
    width: 100%;
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

i {
    font-size: 12px;
    text-align: justify;
}

.liennav {
    color: white;
    text-decoration: none;
}

/*début Welcome */

.welcome {
    padding-top: 12.5vh;
    height: 87.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-textside {
    width:60%;
    height:80%;
    color: black;
}

.welcome-imageside {
    width: 25%;
    height: 80%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.fausseimg
{
    width:55vh;
    height:85vh;
    display: flex;
}

/*fin Welcome */

.signature {
    margin: 15px;
}

.photo-signature {
    width: 55vh;
}